/* General Styles */
body {
  font-family: 'Inconsolata', monospace;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Game Container */
.game-container {
  max-width: 500px;
  background-color: #fff5ee;
}

/* Game Elements */
h1 {
  color: #ff69b4 !important;
}

.timer {
  color: #1e90ff !important;
}

.score {
  color: #32cd32 !important;
}

.question {
  color: #ff69b4 !important;
}

/* Form Elements */
input[type="number"],
select {
  border: none !important;
}

/* Buttons */
.start-btn {
  background-color: #32cd32 !important;
  color: white;
}

.reset-btn {
  background-color: #ff69b4 !important;
  color: white;
}

/* Range Inputs */
#start-range,
#end-range {
  border: 1px solid #ced4da !important;
}

.form-label {
  color: #ff69b4;
  font-weight: bold;
}